Package: com.yourcompany.tttest
Name: TTtest
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ccheng
Author: ccheng
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
